.blog-section {
    background: var(--backgroundColor);
    position: relative;
    width: 100%;
    .topSession{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 30px;
    }
    @media screen and (max-width: 991px){
        .topSession{
            width: 90%;
        }
    }
    @media screen and (max-width: 768px){
        .topSession{
            width: 100%;
        }
    }
    

    // blogcard session
    .blog-card{
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        
        .img-holder{
            position: relative;
            flex: 1;
            .immer{
                position: relative;
                display: block;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 250px;
                    transition: all 200ms linear;
                    transition-delay: 0.1s;
                }
            }
            .immer:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #000000;
                text-align: center;
                z-index: 1;
                opacity: 0.6;
                transform: translateY(100%); /* Start fully below image */
                transition: transform 0.5s ease-in-out;
            }
        }
        .text-holder{
            flex:1;
            padding-right: 10px;
            h3 {
                font-size: 16px;
                color: var(--primaryColor);
                margin-bottom: 10px;
                font-family: var(--headingFamily);
                font-weight: 600;
            }
            .meta {
                font-size: 14px;
                color: gray;
                margin-bottom: 15px;
                font-family: var(--textFamily);
            }
            p{
                display: -webkit-box;
                -webkit-line-clamp: 2; /* Show only 3 lines */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: var(--textFamily);
                font-size: 15px;
            }
            .read-more {
                color: var(--accentColor);
                font-weight: 600;
                transition: 0.4s all ease
            }
            .read-more:hover{
                color: var(--primaryColor);
            }
        }
    }
    .blog-card:hover .immer:before {
        transform: translateY(0); /* Slide into view */
    }
    .blog-card:hover .img-holder .immer img{
        transform: scale(1.2);
        transition: all 0.5s cubic-bezier(0.62, 0.21, 0.45, 1.52);
    }
}

// Sidebar
 .sidebar {
    background: var(--primaryColor);
    width: 100%;
    position: relative;
    padding: 20px;
    color: #fff;
    .widget {
        margin-bottom: 30px;

        h4 {
            font-size: 16px;
            margin-bottom: 10px;
            color: #fff;
            background: var(--accentColor);
            padding: 8px;
            border-radius: 5px;
            font-family: var(--headingFamily);
            font-weight: 600;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                margin-bottom: 10px;
                color: #fff;
                font-size: 14px;
                font-family: var(--textFamily);

                a {
                    color: #fff;
                    font-size: 14px;
                    font-family: var(--textFamily);
                    &:hover {
                    color: #dbd9d9ff;
                    }
                }
            }
        }
    }
}
// pagination
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;

  .page-btn {
    background: #e0e0e0;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;

    &.active {
      background: var(--primaryColor);
      color: #fff;
    }

    &:hover {
      background: var(--primaryColor);
      color: #fff;
    }
  }
}



// single blog details css
.blog-single{
    background: var(--backgroundColor);
    position: relative;
    width: 100%;
    .topSession{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 30px;
    }
    @media screen and (max-width: 991px){
        .topSession{
            width: 90%;
        }
    }
    @media screen and (max-width: 768px){
        .topSession{
            width: 100%;
        }
    }

    .blog-singleContent{
        position: relative;
        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        .details{
            background: #fff;
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
            padding: 10px 15px;
            padding-bottom: 50px;
            .title{
                font-family: var(--headingFamily);
                font-weight: 700;
                font-size: x-large;
                color: var(--primaryColor)
            }
            .meta {
                font-size: 14px;
                color: gray;
                margin-bottom: 15px;
                font-family: var(--textFamily);
            }
            .content{
                font-family: var(--textFamily);
                font-size: 15px;
                line-height: 28px;
            }
            .back-link {
                color: var(--accentColor);
                font-weight: 600;
                transition: 0.4s all ease;
                
            }
            .back-link:hover{
                color: var(--primaryColor);
            }
        }
    }
}