.serviceContainer{
    position: relative;
    padding: 70px 0px;
    width: 100%;
    background: var(--backgroundColor);
    .topSession{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 30px;
    }
    @media screen and (max-width: 991px){
        .topSession{
            width: 90%;
        }
    }
    @media screen and (max-width: 768px){
        .topSession{
            width: 100%;
        }
    }
}
 
.service-card {
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    color: #222;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    // width: 200px;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .service-info {
        padding: 20px;

        h3 {
            font-size: 17px;
            font-weight: 700;
            color: var(--primaryColor);
            margin-bottom: 10px;
            height: 40px;
            font-family: var(--headingFamily);
        }

        p {
            font-size: 14px;
            color: var(--blackColor);
            margin-bottom: 20px;
            line-height: 1.6;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Limit to 2 lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .ButtonContainer{
            line-height: 35px;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .read-more {
            font-size: 14px;
            font-weight: 600;
            color: var(--accentColor);
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: var(--primaryColor);
            }
        }
    }
}

// css for each servcies
.ServicePageListContainer{
    position: relative;
    width: 100%;
    .serviceImage{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .page-text{
        margin-bottom: 15px;
    }
    ul {
        list-style-type: disc;
        padding-left: 20px;
         margin-left:10px; 

        li {
            color: var(--blackColor);
            font-size: 15px;
            line-height: 1.6;
            position: relative;
          
        }

        li::marker {
            color: var(--secondaryColor); // change bullet color
            font-size: 20px;     
                   // enlarge bullet
        }
    }
    .page-text-title{
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        margin-bottom: 5px;
        .icon{
            font-size: 13px;
        }
    }
}