.service-section {
    background: url('../../Assets/bg-app.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 100px 0 130px;
    width: 100%;
    position: relative;
    .curve-divider {
       position: absolute;
        top: -8%;
        left: 0;
        width: 100%;
        height: 80px;
        transform: rotate(180deg);
        display: block;
    }
    
    .pageoverlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #233a4de5;
        width: 100%;
        height: 100%;
        // z-index: 1; 
    }
    .container {
        position: relative;
    }
  /* LEFT PANEL */
  .service-intro {
    margin-bottom: 20px;
    .main-heading, .page-text{
        color: #fff;
    }
    .page-text{
        margin-bottom: 20px;
    }
    
    .service-dots {
      display: flex;
      gap: 8px;
      justify-content: flex-start;
      padding-bottom: 7px;
      span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--accentColor);
        opacity: 0.6;
        transition: all 0.3s ease;

        &:hover {
          opacity: 1;
          transform: scale(1.2);
        }
      }
    }
  }

  /* RIGHT SLIDER */
    .service-slider {
        position: relative;
        width: 100%;
        background: transparent;
        padding-bottom: 40px;

        .service-card {
            width: 100%;
            background: #fff;
            border-radius: 6px;
            overflow: hidden;
            color: #222;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            // width: 200px;
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
            }

            img {
                width: 100%;
                height: 180px;
                object-fit: cover;
            }

            .service-info {
                padding: 20px;

                h3 {
                font-size: 18px;
                font-weight: 700;
                color: var(--primaryColor);
                margin-bottom: 10px;
                }

                p {
                font-size: 14px;
                color: var(--blackColor);
                margin-bottom: 10px;
                line-height: 1.6;
                }

                .read-more {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--accentColor);
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--primaryColor);
                    }
                }
            }
        }
        /* styling for custom swiper arrows */
        .swiper-button-next,
        .swiper-button-prev {
            display: none!important;
        }
        .custom-nav-btn {
            position: absolute;
            bottom: -30px;          // place below cards
            background: var(--backgroundColor);
            color: var(--primaryColor);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            font-size: 25px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease;
            z-index: 20;
        }

        .custom-nav-btn:hover {
            background: var(--accentColor);
        }

        /* Position left/right */
        .nav-prev {
            left: 40%;
        }

        .nav-next {
            right: 40%;
        }


    }
}

