.FooterContainer{
    background:var(--primaryColor);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    padding: 120px 0px 0px;
    position: relative;
    overflow: hidden;
    
    .footer-wave {
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 80px;
        transform: rotate(180deg);
        display: block;
    }
    .footer-row{
        padding-bottom:50px;
    }
    .image{
        width: 50%;
        position: relative;
        top: -20px;
    }
    img{
        width: 100%;
    }
    .text{
        font-family: var(--textFamily);
        color: var(--offWhite);
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }
    .footer-title{
        position: relative;
        display: block;
        margin-bottom: 25px;
        position: relative;
        display: block;
        color: #fff;
        font-size: 17px;
        line-height: 1.3em;
        font-weight: 600;
        text-transform: uppercase;
        font-family: var(--headingFamily);
    }
    .footer-title:before{
        content: "";
        position: absolute;
        bottom: -5px!important;
        width: 40px;
        height: 3px;
        background: var(--accentColor)
    }
    .footerLinkArea{
        width: 100%;
        .footerLink{
            display: flex;
            gap: 10px;
            align-items: center;
            padding-bottom: 6px;
            font-family: var(--textFamily);
            .icon{
                color: var(--accentColor);
                font-size: 25px;
            }
            .footer-link{
                text-decoration: none;
                color: #fff;
                transition: 0.5s all ease;
            }
            .footer-link:hover{
                color: #e4e2e2ff
            }

           
        }
    }


    .footerCall{
        display: flex;
        align-items: flex-start;
        gap: 30px;
        padding-bottom: 12px;
        .call{
            font-size:x-large;
            color:#fff;

        }
        .title{
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            font-family: var(--textFamily);

        }
        span{
            display: block;
            color: #fff;
            padding: 10px 0px 4px;
            font-size:16px;
            text-transform: capitalize;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .copyrightContainer{
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--offWhite);
        text-align: center;
        font-family: var(--textFamily);
        font-size: 17px;
        background: #1a2d3dff;
    }

    @media screen and (max-width: 500px){
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        img{
            width: 80%;
        }
    }
}
