.homeCounterContainer {
  padding: 60px 0px;
  background: var(--backgroundColor);
  .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
}

.counterWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns on big screens */
  gap: 30px;
  text-align: center;
  
}
.counterItem {
    text-align: center;
    background: #fff;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    // background overlay
    &::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(
        rgba(35, 58, 77, 0.7),
        rgba(35, 58, 77, 0.7)
        ),
        url("../../Assets/image10.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.5s ease;
    z-index: 0;
    border-bottom: 3px solid var(--primaryColor);
    }

    &:hover::before {
        opacity: 1;
        transform: scale(1);
    }
    .image, .title, p{
        position: relative;
        z-index: 1;
    }
    .image{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        .icon{
            font-size: 30px;
            color: var(--secondaryColor)
        }
    }
}
.counterItem .title {
  font-size: 25px;
  font-weight: 700;
  color: var(--primaryColor);
  margin-bottom: 10px;
  font-family: var(--headingFamily)
}
.counterItem p {
  font-size: 16px;
  font-family: var(--textFamily);
  font-weight: 600;
  color: var(--blackColor);
}
.counterItem:hover .title,
.counterItem:hover p {
    color: #fff;
}
.counterItem2{
    background: linear-gradient(
        rgba(35, 58, 77, 0.7),
        rgba(35, 58, 77, 0.7)
        ),
        url("../../Assets/image8.jpeg");
    background-size: cover;
    background-position: center;
    .title, p{
        color: #fff;
    }
}
/* Responsive: stack 2x2 grid from 800px */
@media (max-width: 900px) {
  .counterWrapper {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
  }
}

/* Optional: stack full width on very small screens */
@media (max-width: 480px) {
  .counterWrapper {
    grid-template-columns: 1fr; /* 1 column */
  }
}
