:root{
  --primaryColor: #233a4d;
  --secondaryColor: #f7b733;
  --accentColor: #2aa198;
  --offWhite: #f5f7fa;
  --headingFamily: "Exo", sans-serif;
  --textFamily: "Lato", sans-serif;
  --blackColor: #4f5d6f;
  --backgroundColor: #f8fafc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; */
}
.body{
  color:#222;
  font-family: var(--headingFamily);
}
.App{
  padding-top: 130px;
}

@media screen and (max-width: 992px) {
  .App{
    padding-top: 70px;
  }
}
.sub-heading{
  color: var(--accentColor);
  text-transform: uppercase;
  font-weight: 700;
  font-size: large;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font-family: var(--headingFamily);
  position: relative;
}
.sub-heading:before{
  content: '';
  position: absolute;
  bottom: 2px;
  height: 3px;
  width: 100px;
  background: var(--secondaryColor);
}
.main-heading {
  font-size: 36px;
  font-weight: 800;
  color: var(--primaryColor);
  margin-bottom: 10px;
  font-family: var(--headingFamily);
  position: relative;
  display: block;
  overflow: hidden;

  span {
    color: var(--accentColor);
  }

  @media (max-width: 768px) {
    font-size: 28px;
  }
}
.page-text {
  color: var(--blackColor);
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-family: var(--textFamily);
}

 
