.otherPagesContainer{
    background: linear-gradient(90deg,rgba(35, 58, 77, 0.62) 0%, rgba(35, 58, 77, 0.7) 50%, rgba(35, 58, 77, 0.69) 100%),url('../../Assets/pagesbg.jpeg')no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 300px;
    padding-top:100px;
    .content{
        width: 100%;
        position: relative;
        font-family: var(--headingFamily);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title{
            color: #fff;
            font-weight: 600;
            font-size: 55px;
            
        }
        .bottom{
            margin-top: 10px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px 5px;
            width: 250px;
            text-transform: uppercase;
            font-size: 15px;
            .navLinks{
               color: var(--accentColor);
                cursor: pointer;
                width: 100%;
                text-align: center;
                flex:1;
                font-weight: 600;
                border-right: 1px solid var(--primaryColor);
            }
            .text{
                flex: 1;
                text-align: center;
                font-family: var(--headingFamily);
                color: var(--primaryColor);
            }
        }
    }
}
@media screen and (max-width: 992px){
    .otherPagesContainer{
        padding-top:70px;
        .content{
            gap: 20px;
            .title{
                font-size: 40px;
                text-align: center;
            }
        }
        
    }
}
@media screen and (max-width: 800px){
    .otherPagesContainer{
        height: 360px;
        padding-top:150px;
        .content{
            gap: 20px;
            .title{
                font-size: 35px;
                text-align: center;
            }
        }
        
    }
}

@media screen and (max-width: 500px){
    .otherPagesContainer{
        padding-top:100px;
        .content{
            .title{
                font-size: 32px;
            }
        }
        
    }
}